#scanner video {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  z-index: -1;
}

#scanner canvas {
  position: absolute;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#scanner-component {
  height: 100%;
  width: 100%;
}

#scanner-controls {
  position: absolute;
  height: 100%;
  width: 100%;
}

#btn-back {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#ctrl-bottom {
  width: 100%;
  background-color: var(--color-bg);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2rem;
  display: flex;
  justify-content: space-around;
}
