#scanner video {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  z-index: -1;
}

#scanner canvas {
  position: absolute;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#scanner-component {
  height: 100%;
  width: 100%;
}

#scanner-controls {
  position: absolute;
  height: 100%;
  width: 100%;
}

#passepartout {
  $width: 200px;
  $height: 75px;

  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-color: rgba(#ffffff, 0.5);
  border-width: calc(100vh / 3 - $height/2) calc(50vw - $width/2)
    calc(200vh / 3 - $height/2);
  width: $width;
  height: $height;
}

#btn-back {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
