@use "../../styles/abstracts/constants";
@use "../../styles/abstracts/shadows";

#choose-auth {
  height: 100%;
  text-align: center;
}

#choose-auth h1 {
  background: var(--color-bg-elevation-1);
  margin: 0;
  padding: 5rem constants.$padding-side 2rem constants.$padding-side;
  border-bottom: 1px solid var(--color-border);
  @include shadows.shadow-elevation-2;
}

#list-auth-providers {
  padding: 0 2rem;
  margin-top: 4rem;
  width: 100%;
  display: grid;
  grid-auto-rows: 3rem;
}

.btn-auth-provider {
  width: 100%;
  background-color: var(--color-bg-elevation-1);
  display: flex;
  border: 1px solid var(--color-border);
  border-radius: constants.$border-radius;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.2rem;
  @include shadows.shadow-elevation-1;
}

.btn-auth-provider span {
  margin-left: 1rem;
}
.btn-auth-provider svg {
  fill: var(--color-font);
}
