@media only screen and (prefers-color-scheme: dark) {
  :root {
    --color-bg: hsl(0, 0%, 10%);
    --color-font: hsl(0, 0%, 97%);
    --color-btn-hover: hsl(0, 0%, 20%);
    --color-bg-elevation-1: hsl(0, 0%, 15%);
    --color-bg-elevation-1-dark: hsl(0, 0%, 11%);
    --color-border: hsl(0, 0%, 25%);
  }
}
