@use "../../styles/abstracts/constants";
@use "../../styles/abstracts/shadows";

.book-card {
  background: var(--color-bg-elevation-1);
  border-radius: constants.$border-radius;
  overflow: clip;
  border: 1px solid var(--color-border);
  @include shadows.shadow-elevation-1;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

.book-card-loading {
  @media (prefers-reduced-motion: no-preference) {
    animation-name: card-loading-animation;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.9, 0.03, 0.69, 0.22);
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  counter-increment: index-booklist;
}

@keyframes card-loading-animation {
  from {
    background: var(--color-bg-elevation-1);
  }
  to {
    background: var(--color-bg-elevation-1-dark);
  }
}

#img {
  background-color: red;
  height: 100%;
}

.lib-lent-overlay {
  background: var(--color-accent);
  color: var(--color-accent-font);
  text-align: center;
  padding: 0.25rem 0;
  flex: none;
  border-top: 1px solid var(--color-border);
  font-size: 0.9rem;
}

.lib-lent-overlay::first-line {
  font-size: 1rem;
}

.book-card-data-overlay {
  border-top: 1px solid var(--color-border);
  background: var(--color-bg-elevation-1);
  padding: 0.75rem 1rem;
}

.lib-author-name {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9rem;
}

.lib-title {
  padding: 0;
  margin: 0.3rem 0 0 0;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.lib-overlay-lt,
.lib-overlay-rt {
  position: absolute;
  top: 0.5rem;
  background-color: var(--color-accent);
  color: var(--color-accent-font);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--color-border);
}

.lib-overlay-lt {
  left: 0.5rem;
}
.lib-overlay-rt {
  right: 0.5rem;
}
