@use "../../styles/abstracts/constants";

#library {
  padding: 3rem constants.$padding-side;
}

#library h1 {
  margin: 0 0 1.5rem 0;
}

#library-booklist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  grid-auto-rows: 17rem;
  gap: 1rem;
}
