* {
  box-sizing: border-box;
  color: var(--font-color);
}

html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  background: var(--color-bg);
}
